body{
    line-height: 0.25em;
    
}

.main{
    width: 700px;
    height: 1275px;
    background-color: green;
}
.image{
    float: right;
     width: 150px;
    height: 185px;
}
.phone{
    width: 550px;
    height: 35px;
    float: left;
    text-indent: 10px;
    background-color:white;

}
    .email{
    width: 550px;
    height: 30px;
        float: left;
    text-indent: 10px;
    background-color: white;

    }


    .overflow{
        width: 550px;
    height: 30px;
        float: left;
    text-indent: 10px;
    background-color: white;
    }

    .single{
width: 550px;
    height: 46px;
        float: left;
    text-indent: 10px;
    background-color: white;
    }
    
.telephone{
    width: 20px;
    height: 20px;
}
.no{
    font-size: 12px;
    text-indent:12px;
    color: black;
   background-color: white;
}
.strong:hover{
    color: red;
}

.mail{
      width: 20px;
    height: 20px;
}
.stack{
          width: 20px;
    height: 20px;
}
.mstatus{
          width: 20px;
    height: 20px;
}
strong{
    vertical-align: text-top;
    font-size: 12px;
}


.headingtwo{
float: left;
text-indent: 10px;
color: black;
text-decoration: underline;
text-shadow: -3px -2px 0px white;
}




.fb{
     width: 20px;
    height: 20px;
}


  
}
a:link{
    color: red;

}
a:hover{
    color: red;
}
.twitter{
     width: 700px;
    height: 20px;
  background-color: silver
}

.tweet{ width: 20px;
    height: 20px;}


  .fbprofile{
      font-size: 12px;
    color: white;
   margin: 200px 0px 0px 0px;}

   .last:link{
       color: rebeccapurple
   }
   .span{
       text-indent: 10px;
       background-color: white;
   }

.twitterprofile{
    font-size: 12px;
    color: white;
}
h3{
text-decoration: underline;
text-shadow: -2px 0px 0px white;
 text-indent: 2px;
}
.experience{
    background-color:#3b9b99; 
}

th.qualification{
    padding: 20px;
    
     background-color: green;
     -moz-box-shadow: 0px -7px white;
-webkit-box-shadow: 0px -7px white;
box-shadow: 0px -7px black;
color: white;

border-color:  white;
text-shadow:-3px -2px 0px black;
border-radius: 42px 42px 36px 36px;




}
td{
    padding: 20px;
    -moz-box-shadow: 0px -7px white;
-webkit-box-shadow:0px -7px white;
box-shadow: 0px -7px black;
color: white;
text-align: center;
border-color:  white;
border-radius: 42px 42px 36px 36px;
background-color: green;
}

td:hover{
    background-color: purple;
}

.table{
    width: 700px;
    background-color: white;
    border: hidden;
    border-radius: 34px 28px 32px 37px;
    box-shadow: 20px;
    border-spacing: 15px;
}



#content{
   padding: 30px 0px 30px 190px;
  background-image: url("../images/back.jpg");
  background-repeat: no-repeat;
  background-size: 2200px;

}





